<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:theme="@style/Theme.AuraBrowse" android:label="AuraBrowse" android:usesCleartextTraffic="false" android:allowBackup="false" android:enableOnBackInvokedCallback="true">
        <activity android:name=".ui.BrowserActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    <activity android:name=".ui.SettingsActivity" /><activity android:name=".ui.DownloadsActivity" /></application>
</manifest>
